{% extends 'catalog/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <h1>Контакты</h1>

    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label>Имя:</label><br>
        <input type="text" name="name"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Сообщение:</label><br>
        <textarea name="message_text" rows="5" cols="30"></textarea><br><br>

        <button type="submit">Отправить</button>
    </form>
{% endblock %}